@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cockies</h1>
<div class="cockie-settings">
    <div id="welcome" class="panel">
        <h1>Erlaube uns mit Cookies zu händeln</h1>
        <p>Sie dienen für ein besseres Erlebnis auf unserer Seite. Dadurch können wir kontinuierlich unsere Website verbessern </p><br />

        <br />
        <h3>Essentiel</h3>
        <input type="checkbox" id="essential" name="essential" value="true" disabled>
        <br />

        <br />
        <h3>Extra Cockies</h3>        <input type="checkbox" id="extracockies" name="extracockies" value="false">
        <br />

        <a href="\Home"><button>Save</button></a>
        <a href="\Home"><button>Leave Website</button></a>
    </div>

