@{
    ViewData["Title"] = "Home Page";

}

<script>
    // Save button opens a modal dialog
    saveButton.addEventListener('click', function () {
        dialog.showModal();
        openCheck(dialog);
    });

    // Form cancel button closes the dialog box
    cancelButton.addEventListener('click', function () {
        dialog.close('cockie-dialog');
        openCheck(dialog);
    });
</script>

}
<div class="text-center" Editor>
    <h1 class="display-4">Welcome</h1>
    <a href="\Home\Dashboard"><button>Dashboard</button></a>
    <a href="\Items\Create"><button>Neu</button></a>
    <a href="\Items\ItemsView"><button>Inventur-Ansicht</button></a>
    <a href="\Home\Math"><button>Math</button></a>

    <a href="\Home\Settings"><button>Einstellungen</button></a>
    <form method="get" action="\Home\Settings">

        <asp:Button name='settingsBtn' ID="settings" Text="Settings">
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>

<footer>
    <environment names="development">
        <h2 class="bg-info text-white m-2 p-2"  style="bottom:10px">Development</h2>
    </environment>
    <environment names="production">
        <h2 class="bg-danger text-white m-2 p-2"  style="bottom:10px">Production</h2>
    </environment>
</footer>
