@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" Editor>
    <h1 class="display-4">Welcome</h1>
    <a href="\Home\Dashboard"><button>Dashboard</button></a>  <a href="\Items\Create"><button>Neu</button></a>
    <a href="\Items\ItemsView"><button>Inventur-Ansicht</button></a>
    <a href="\Home\Settings"><button>Einstellungen</button></a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
