
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<form method="get" action="/settings">
    <!--simpleform.asp-->
    <label for="category">Einstellungen:</label>



    Theme: <input type="theme" name="theme"><br>
    Firmenname: <input type="companyname" name="Firmenname"><br>






    <!--  -->
    <input type="submit" value="Speichern">
</form>

<label for="">Kategorien:</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>


</select>
<br />
<label for="">Unterkategorien:</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>

</select>
<br />
<label for="">Tags</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>

</select>
<br />
<label for="">Stati</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>

</select>
<br />

<label for="">Tags</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>

</select>
<br />
<label for="">Localization</label>
<select name="" id="">
    <option value="new">Neu anlegen</option>

</select>
<br />
<label for="">DB:</label>
<select name="db" id="">
    <option value="new">DB Auswahl</option>
    <option name="DB"  value="Sqlite">SQLite</option>
    <option name="DB" value="Sqlite2">SQLite2</option>


</select>