@page
@using Wooja_Inventory_Manager.Models.Components

// at page immer erste Zeile
// Wenn using directive fehlt den Namespace implementieren

@inject ColorsData Data

<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            @foreach (Color c in Data.Colors)
            {
                <tr>
                    <td>@c.Name</td>
                    <td>@c.HexCode</td>

                </tr>
            }
        </tbody>
    </table>
</div>